/*
Error: File to import not found or unreadable: vendor/font-awesome.
       Load paths:
         Compass::SpriteImporter
         /home/travis/build/info-uaic/oscamp/_sass
         /home/travis/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets
        on line 8 of /home/travis/build/info-uaic/oscamp/_sass/./main.scss

3: 
4: // Third-party
5: @import "vendor/bootstrap-custom";
6: @import "vendor/animate";
7: @import "vendor/waves";
8: @import "vendor/font-awesome";
9: 
10: // Partials
11: @import "partials/global";
12: @import "partials/buttons";
13: @import "partials/helper";

Backtrace:
/home/travis/build/info-uaic/oscamp/_sass/./main.scss:8
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/import_node.rb:45:in `import'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-media_query_combiner-0.0.7/lib/sass-media_query_combiner.rb:7:in `render_with_combine'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/home/travis/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/travis/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/travis/build/info-uaic/oscamp/_plugins/generator_scss.rb:23:in `block in generate'
/home/travis/build/info-uaic/oscamp/_plugins/generator_scss.rb:22:in `chdir'
/home/travis/build/info-uaic/oscamp/_plugins/generator_scss.rb:22:in `generate'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/site.rb:251:in `block in generate'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `each'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `generate'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/site.rb:45:in `process'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/command.rb:28:in `process_site'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/commands/build.rb:55:in `build'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/commands/build.rb:33:in `process'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/lib/jekyll/commands/build.rb:17:in `block (2 levels) in init_with_program'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary/command.rb:220:in `call'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary/command.rb:220:in `block in execute'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary/command.rb:220:in `each'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary/command.rb:220:in `execute'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary/program.rb:42:in `go'
/home/travis/.rvm/gems/ruby-2.1.1/gems/mercenary-0.3.5/lib/mercenary.rb:19:in `program'
/home/travis/.rvm/gems/ruby-2.1.1/gems/jekyll-2.4.0/bin/jekyll:18:in `<top (required)>'
/home/travis/.rvm/gems/ruby-2.1.1/bin/jekyll:23:in `load'
/home/travis/.rvm/gems/ruby-2.1.1/bin/jekyll:23:in `<main>'
/home/travis/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/home/travis/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: vendor/font-awesome.\A        Load paths:\A          Compass::SpriteImporter\A          /home/travis/build/info-uaic/oscamp/_sass\A          /home/travis/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets\A         on line 8 of /home/travis/build/info-uaic/oscamp/_sass/./main.scss\A \A 3: \A 4: // Third-party\A 5: @import \"vendor/bootstrap-custom\";\A 6: @import \"vendor/animate\";\A 7: @import \"vendor/waves\";\A 8: @import \"vendor/font-awesome\";\A 9: \A 10: // Partials\A 11: @import \"partials/global\";\A 12: @import \"partials/buttons\";\A 13: @import \"partials/helper\";"; }
