<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
  <div class="content-wrapper">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>{{ site.latestNewsTitle }}</h3>
      <article class="row">
        {% for post in site.categories[page.edition] limit:2 %}
          {% assign postUrl = site.baseurl | append: post.url %}
            <div class="post col-md-6 col-sm-6 text-justify animated hiding" data-animation="fadeInDown" data-delay="500">
              <h6 class="text-center">{{ post.title }}</h6>
              <p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
            </div>
          {% else %}
            {% assign postUrl = site.baseurl | append: post.url %}
            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
              <h6>
                OSCamp is coming soon! Check out <a href="/blog">the blog</a> for all the details about our last edition and get ready for next summer, because is going to be awesome.
              </h6>
            </div>
          {% endfor %}
      </article>
    </div>
  </div>
</section>
<!-- End Latest News Section -->